body {

  font-size: 10pt;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

  color: pink;

  line-height: 14pt;

  padding-left: 85pt;

  padding-right: 85pt;

  padding-top: 30pt;

  background-color: pink; 

}


h1 {

  font: 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;

  font-weight: bold;

  line-height: 30pt;

}

h2 {

  font: 14pt  Arial, Helvetica, sans-serif;

  font-weight: bold;

  line-height: 20pt;

}



